<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<!-- bower:css -->
    <!-- endbower -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
	<!-- bower:js -->
  <!-- endbower -->
  </body>
</html>
