<div class="main container">
	<div class="row">
		<div class="col-6 col-md-offser-3">
			<h1 class="display-4 m-b-2">Login</h1>
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="username">Username: </label>
					<input class="form-control" type="text" name="username" id="name" placeholder="your username">
				</div>
				<div class="form-group">
					<label for="password">Password: </label>
					<input class="form-control" type="password" name="password" id="name" placeholder="your password">
				</div>
				<input class="btn btn-primary" type="submit" value="Submit" >
			</form>
		</div>
	</div>
</div>